{% extends 'base.html' %}
{% load i18n %}
{% block title %}Главная | Компания новое Интеллектуальное ПО — КНИПО{% endblock title %}
{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">КНИПО</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href='tel:+79250915077'>+7(925) 091-50-77</a></li>
      <li><a href='/accounts/register/'>Регистрация</a></li>
      <li><a href='/adm/'>Вход</a></li>
    </ul>
  </div>
</nav>
          <div class="container">
            <div class='col-sm-4 offset-col-sm-4'>
            <h2>Программный комплекс <small>учета муниципальных услуг в сфере погребения и похороннго дела</small> <strong>Память</strong></h2>
          </div>

              <p>© 2017 Все права защищены. <a href='mailto:dtimagin@mail.ru'>dtimagin@mail.ru</a></p>
        </div>
      </div>
    </div>
{% endblock content %}
  </body>
</html>
